<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    span.cls_004 {
      font-family: "Arial Italic", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    div.cls_004 {
      font-family: "Arial Italic", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    span.cls_005 {
      font-family: "Arial Bold Italic", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-style: italic;
      text-decoration: none
    }

    div.cls_005 {
      font-family: "Arial Bold Italic", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-style: italic;
      text-decoration: none
    }

    span.cls_003 {
      font-family: "Arial", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_003 {
      font-family: "Arial", Arial;
      font-size: 14.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_007 {
      font-family: Arial, Arial;
      font-size: 12.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_007 {
      font-family: Arial, Arial;
      font-size: 12.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_008 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_008 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_010 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: underline
    }

    div.cls_010 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_011 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: underline
    }

    div.cls_011 {
      font-family: Arial, Arial;
      font-size: 14.1px;
      color: rgb(31, 78, 121);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }
  </style>
</head>

<body>
  <div style="
        position: absolute;
        left: 50%;
        margin-left: -306px;
        top: 0px;
        width: 612px;
        height: 792px;
        border-style: outset;
        overflow: hidden;
      ">
    <div style="position: absolute; left: 0px; top: 0px;">
      <img src="https://firebasestorage.googleapis.com/v0/b/integraf-8320e.appspot.com/o/util%2Fquotation_template%2Fbackground.jpg?alt=media&token=c8a27137-c2ea-4954-8d47-5b1e0ec1555f" width="612" height="792" />
    </div>
    <div style="position: absolute; left: 342.31px; top: 99.98px;" class="cls_004">
      <span class="cls_004">{{ name }}</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 159.14px;" class="cls_004">
      <span class="cls_004">To</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 178.82px;" class="cls_004">
      <span class="cls_004">Client</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 198.38px;" class="cls_004">
      <span class="cls_004">Ocupation</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 218.06px;" class="cls_005">
      <span class="cls_005">Presente</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 257.45px;" class="cls_004">
      <span class="cls_004">Estimado/s Ocupation:</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 296.69px;" class="cls_004">
      <span class="cls_004">Por este medio me permito someter a su amable consideración la
        presente cotización: </span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 316.37px;" class="cls_004">
    </div>
    <div style="position: absolute; left: 85.1px; top: 336.05px;" class="cls_005">
      <span class="cls_005">Nombre Producto:</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 360.73px;" class="cls_004">
      <span class="cls_004">Nombre Producto de Ancho x Alto en
        papel tipo Papel NOmbre a Colores</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 375.29px;" class="cls_004">
    </div>
    <div style="position: absolute; left: 251.69px; top: 434.35px;" class="cls_005">
      <span class="cls_005">Cantidad Total Precio</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 493.39px;" class="cls_003">
      <span class="cls_003">Cordialmente,</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 523.03px;" class="cls_003">
      <span class="cls_003">Le saluda,</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 552.55px;" class="cls_003">
      <span class="cls_003">Nombre del que Cotizo,</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 572.23px;" class="cls_004">
      <span class="cls_004">Ocupacion del que cotizo,</span>
    </div>
    <div style="position: absolute; left: 85.1px; top: 592.03px;" class="cls_004">
      <span class="cls_004">Móvil: Telefono del que cotizo</span>
    </div>
    <div style="position: absolute; left: 203.69px; top: 690px;" class="cls_007">
      <span class="cls_007">11 Calle 11-65, Zona 1 Guatemala, Guatemala</span>
    </div>
    <div style="position: absolute; left: 215.21px; top: 709.78px;" class="cls_007">
      <span class="cls_007">Tels. 4183-9239 / 5427-8202 / 5185-1011</span>
    </div>
    <div style="position: absolute; left: 90px; top: 725px;" class="cls_008">
      <span class="cls_008">E Mails: </span><span class="cls_010">integrafimpresion@gmail.com</span><span
        class="cls_008"> &nbsp; </span><span class="cls_011">karlafigueroa.blanco@gmail.com</span>
    </div>
  </div>
</body>

</html>